<ion-header>

  <ion-navbar>

    <ion-title><a href="/"><img src="build/images/logo.barra.superior.png"></a>  {{conversacion.nombre}} </ion-title> 
    <ion-buttons end>
      <button ion-button clear item-right side="right" (click)="verDetalles()">Detalles</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content class="cards-bg custom-bg" [ngStyle]="styles">
  <div class="scroll-inner-content">
    <div *ngFor="let message of conversacion.mensajes" class="message-container" [ngClass]="message.estado">
      <div class="chat-bubble" [ngClass]="(message.autor.id == me.id ? 'right' : 'left') + ' ' + 'autor-'+message.autor">
        <span *ngIf="message.mensaje != ' '">{{ message.mensaje }}</span>
        <div class="mensaje_multimedia" *ngIf="message.multimedia" [innerHTML]="message.multimedia | multimedia"></div>
        <div id="circleG">
          <div id="circleG_1" class="circleG"></div>
          <div id="circleG_2" class="circleG"></div>
          <div id="circleG_3" class="circleG"></div>
        </div>
      </div>
      <small [ngClass]="(message.autor.id == me.id ? 'right' : 'left')">{{message.autor.name || message.autor.username}} {{ message.updatedAt | timeago }}</small>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-item >
    <ion-input (focus)="presentOptions()" placeholder="Responder..."></ion-input>
  </ion-item>
</ion-footer>
