<ion-header>
	<ion-navbar>
		<button menuToggle="menu_conversaciones">
			<ion-icon name="chatboxes"></ion-icon>
		</button>
		<ion-title><a href="/"><img src="build/images/logo.barra.superior.png"></a></ion-title>
	</ion-navbar>
</ion-header>

<ion-menu [content]="content" id="menu_conversaciones" persistent="true">

  <ion-toolbar>
    <ion-title>Conversaciones</ion-title>
  </ion-toolbar>

  <ion-content>
    <ion-list>
    	<ion-item *ngFor="let conversacion of conversaciones" (click)="load_conversacion(conversacion)">
	      <ion-avatar item-left>
	        <img *ngIf="conversacion.image" src="{{ conversacion.image }}">
	      </ion-avatar>
	      <h2>{{ conversacion.nombre }}</h2>
	      <p>{{ conversacion.updatedAt | timeago }}</p>
	    </ion-item>
		<ion-item class="offline"><h2>Un mapa personal<p>pronto...</p></h2></ion-item>
		<ion-item class="offline"><h2>¿Ahora si ves?<p>pronto...</p></h2></ion-item>
		<ion-item class="offline"><h2>Tal vez sea mejor así<p>pronto...</p></h2></ion-item>
		<ion-item class="offline"><h2>Recolectando historias<p>pronto...</p></h2></ion-item>
		<ion-item class="offline"><h2>Los planos invisibles<p>pronto...</p></h2></ion-item>
		<ion-item class="offline"><h2>Lo que sucedió acá<p>pronto...</p></h2></ion-item>
		<ion-item class="offline"><h2>De adentro a afuera<p>pronto...</p></h2></ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

<ion-content padding class="custom-bg chat">
	<div class="chat-cont">
		<h1>¡Hola!<br><br><br>Tienes {{conversaciones.length}} conversaciones activas.</h1>
	</div>
</ion-content>
