<ion-header>

  <ion-navbar>
	<ion-title><a href="/"><img src="build/images/logo.barra.superior.png"></a>  Detalles: {{conversacion.nombre}} </ion-title> 
  </ion-navbar>

</ion-header>

<ion-content padding class="cards-bg custom-bg detalles">

	<div class="scroll-inner-content">
		<div class="users-grid">
			<div class="user-info" *ngFor="let user of conversacion.usuarios">
			  <img class="rounded" src="{{ user.image || user.gravatarUrl }}" width="150" height="auto"/>
			  <div class="content">
			  	<h3>{{ user.name || user.username }}</h3>

			  	<h6><strong>Status:</strong><br>Online</h6>
				<p *ngIf="user.status" >{{ user.status }}</p>
			  </div>
			</div>
		</div>

		<div class="message-grid">
			<div class="message" *ngFor="let mensaje of conversacion.mensajes">
				<div class="iner-mm-message" [innerHTML]="mensaje.multimedia | multimedia"></div>
				<small>{{ mensaje.updatedAt | timeago }}</small>
			</div>
		</div>
	</div>

</ion-content>